.git
.gitignore

node_modules
**/node_modules

dist
**/dist
build
**/build

.env
.env.*
**/.env
**/.env.*

deploy/secrets
deploy/secrets/*
deploy/secrets-staging
deploy/secrets-staging/*

.DS_Store
*.log
coverage
.nyc_output

README.md
ARCHITECTURE.md
DEPLOYMENT.md